.App{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.app-container {
  display: grid;
  grid-template-columns: 2fr 5fr;
  width: 90vw;
  height: 90vh;
  border: 1px solid #ccc;
  justify-content: center;
}

.left {
  background-color: #f1f1f1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px;
}

.left .nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: nowrap;
}

.right{
    background-color: #f1f1f1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px;
}
